@keyframes loading {
    0% {transform: rotate(-360deg)};
    100% {transform: rotate(-360deg)};
}

.loadingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    min-height: 100%;
    height: auto;
    top:0px;
    left:0px;
    background: url('../background.jpg') no-repeat center fixed;     
    background-size: cover;
}
#pokeFlex{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#pokeball {
    width: 150px;
    height: 150px;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#loadingText{
    font-size: 3em;
    text-align: center;
}