@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#psyduck {
    width: 200px;
    height: 200px;
}
#newGame{
    font-family: 'Press Start 2P';
    background-color: transparent;
    cursor: pointer;
}